Repository justnewbee/templates: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, stylelint --fix strict, eslint

feat(template-rc-headless): rc headless first draft
  pnpm-lock.yaml
  template-docusaurus/package.json
  template-rc-headless/.babelrc.js
  template-rc-headless/package.json
  template-rc-headless/src/context/index.ts
  template-rc-headless/src/enum/index.ts
  template-rc-headless/src/hook/_use-model-context.ts
  template-rc-headless/src/hook/_use-model-dispatch.ts
  template-rc-headless/src/hook/_use-model-props.ts
  template-rc-headless/src/hook/_use-model-state.ts
  template-rc-headless/src/hook/index.ts
  template-rc-headless/src/hook/use-dispatch-set-xx.ts
  template-rc-headless/src/hook/use-dispatch-set-yy.ts
  template-rc-headless/src/hook/use-effect-1.ts
  template-rc-headless/src/hook/use-effects.ts
  template-rc-headless/src/hook/use-handle-set-xx.ts
  template-rc-headless/src/hook/use-handle-set-yy.ts
  template-rc-headless/src/index.ts
  template-rc-headless/src/lifecycle/index.ts
  template-rc-headless/src/provider/index.tsx
  template-rc-headless/src/reducer/index.ts
  template-rc-headless/src/reducer/reduce-set-xx.ts
  template-rc-headless/src/reducer/reduce-set-yy.ts
  template-rc-headless/src/types/action.ts
  template-rc-headless/src/types/context.ts
  template-rc-headless/src/types/index.ts
  template-rc-headless/src/types/props.ts
  template-rc-headless/src/types/state.ts
  template-rc-headless/src/util/create-initial-state.ts
  template-rc-headless/src/util/index.ts
  template-rc-headless/tsconfig.json
Due: npmPkgJsonLint, stylelint --fix strict, eslint

feat: template docusaurus styles
  template-docusaurus/docs/component/1-base/_category_.yaml
  template-docusaurus/docs/component/2-biz/_category_.yaml
  template-docusaurus/docs/component/_category_.json
  template-docusaurus/docs/component/_category_.yaml
  template-docusaurus/docs/tutor/2-tutorial-basics/_category_.yaml
  template-docusaurus/docs/tutor/3-tutorial-extras/_category_.yaml
  template-docusaurus/src/css/custom-live-editor.scss
  template-docusaurus/src/css/custom-markdown.scss
  template-docusaurus/src/css/custom-toc.scss
  template-docusaurus/src/css/var.scss
Due: none

feat(template-docusaurus): rm useless images
  template-docusaurus/docs/tutor/2-tutorial-basics/4-markdown-features.mdx
  template-docusaurus/docusaurus.config.ts
  template-docusaurus/static/img/docusaurus.png
  template-docusaurus/static/img/logo.png
  template-docusaurus/static/img/logo@2x.png
Due: stylelint --fix strict, eslint

docs: readme
  package.json
  template-docusaurus/README.md
  template-docusaurus/docs/tutor/index.md
  template-docusaurus/docusaurus.config.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix strict, eslint

docs: readme
  template-docusaurus/README.md
Due: markdownlint-cli2

docs: tech stack md
  template-docusaurus/docs/guide/2-tech-stack.md
  template-docusaurus/package.json
Due: npmPkgJsonLint, markdownlint-cli2

docs: template docusaurus logo update
  template-docusaurus/README.md
  template-docusaurus/static/img/logo.png
Due: markdownlint-cli2

docs: template docusaurus logo update
  template-docusaurus/static/img/logo.png
Due: none

docs: more in guid
  template-docusaurus/docs/guide/2-getting-started.md
  template-docusaurus/docs/guide/3-tech-stack.md
  template-docusaurus/docs/guide/4-glossary.md
  template-docusaurus/docs/guide/index.md
  template-docusaurus/docusaurus.config.ts
  template-docusaurus/static/img/social-card.jpg
Due: markdownlint-cli2, stylelint --fix strict, eslint

feat: more template docs
  package.json
  pnpm-lock.yaml
  template-docusaurus/docs/guide/2-getting-started.md
  template-docusaurus/docs/guide/index.md
  template-docusaurus/docs/guide/standard/1-git-convention.md
  template-docusaurus/docs/guide/standard/2-coding-convention.md
  template-docusaurus/docs/guide/standard/_category_.yaml
  template-docusaurus/package.json
  template-docusaurus/src/css/var.scss
  template-rc-headless/package.json
Due: npmPkgJsonLint, markdownlint-cli2

feat: more template docs
  template-docusaurus/docs/guide/standard/1-git.md
  template-docusaurus/docs/guide/standard/2-coding.md
Due: markdownlint-cli2

feat: tempalte vite react ts
  pnpm-lock.yaml
  template-vite-react/README.md
  template-vite-react/index.html
  template-vite-react/package.json
  template-vite-react/public/favicon.svg
  template-vite-react/src/app/index.tsx
  template-vite-react/src/enum/index.ts
  template-vite-react/src/index.css
  template-vite-react/src/index.tsx
  template-vite-react/src/rcc/error-404/index.tsx
  template-vite-react/src/router/_root/header/index.tsx
  template-vite-react/src/router/_root/index.tsx
  template-vite-react/src/router/_root/main/index.tsx
  template-vite-react/src/router/index.tsx
  template-vite-react/src/router/route-home/index.tsx
  template-vite-react/src/router/route-home/logo-react.svg
  template-vite-react/src/router/route-home/logo-vite.svg
  template-vite-react/src/router/route-setting/index.tsx
  template-vite-react/src/util/get-app-root.ts
  template-vite-react/src/util/index.ts
  template-vite-react/src/vite-env.d.ts
  template-vite-react/tsconfig.app.json
  template-vite-react/tsconfig.json
  template-vite-react/tsconfig.node.json
  template-vite-react/vite.config.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix strict, eslint

feat: no isUnmounted inside useDispatch
  package.json
  pnpm-lock.yaml
  template-docusaurus/package.json
  template-rc-headless/package.json
  template-rc-headless/src/hook/_use-model-dispatch.ts
  template-rc-headless/src/provider/index.tsx
  template-rc-headless/src/types/context.ts
  template-vite-react/package.json
  template-vite-react/src/rcc/error-404/index.tsx
Due: npmPkgJsonLint, stylelint --fix strict, eslint

chore: up versions ✨
  package.json
  pnpm-lock.yaml
  template-docusaurus/package.json
  template-rc-headless/package.json
  template-rc-headless/src/hook/_use-model-dispatch.ts
  template-rc-headless/src/provider/index.tsx
  template-rc-headless/src/types/context.ts
  template-vite-react/README.md
  template-vite-react/package.json
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix strict, eslint

chore: up versions ✨
  README.md
  template-vite-react/vite.config.ts
Due: markdownlint-cli2, stylelint --fix strict, eslint

chore: up react 19
  .depcheckrc.yaml
  .ncurc.yaml
  package.json
  pnpm-lock.yaml
  template-docusaurus/docs/component/2-biz/1-model-app.mdx
  template-docusaurus/package.json
  template-docusaurus/src/rc/icon/const/index.ts
  template-docusaurus/src/rc/icon/index.tsx
  template-docusaurus/src/rc/icon/types/index.ts
  template-rc-headless/package.json
  template-rc-headless/src/provider/index.tsx
  template-rc-headless/src/types/context.ts
  template-vite-react/package.json
  template-vite-react/src/index.tsx
  template-vite-react/src/rcc/error-404/index.tsx
Due: npmPkgJsonLint, stylelint --fix strict, eslint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint-cli2: any of: *.md
  stylelint --fix strict: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
